#help-tips {
    border-radius: 5px;
}

#example-map-code {
    border-radius: 100px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#example-map-code:hover {
    background-color: #4285f4 !important;
    color: white !important;
    cursor: text;
}

#help-tips {
    background-color: #4285f4;
    color: white;
}

#code-area {
    background-color: #323844;
    border-radius: 30px !important;
}