* {
    font-family: HarmonyOSHans,sans-serif !important;
}

body {
    background-color: #23252c;
}

.form-signin {
    margin-left: 24%;
    margin-right: 24%;
}

#bone {
    margin-top: 10%;
}

#jump {
    background-color: #007bff;
    padding: 2px 10px;
    border-radius: 5pt;
}

#notice {
    color: #bd6363;
    font-weight: bold;
}

#notice2 {
    font-weight: bold;
}

#promote {
    font-size: small;
}

#info-for-up {
    color: #5a6268;
    font-size: smaller;
}