@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    font-family: 'Chakra Petch', 'Barlow', 'Roboto', 'Segoe UI Variable Display', 'Segoe UI Variable Text', 'HarmonyOSHans', 'Noto Sans SC', 'Segoe UI Variable Display', 'HarmonyOSHans', 'PingFang SC', 'Microsoft YaHei UI', sans-serif;
    transition: all 100ms;
}

.row {
    margin-left: 5%;
    margin-right: 5%;
}

#navbarHeader {
    background-color: rgba(31, 31, 31, 0);
}

.navbar {
    border-bottom: 1px solid #2c3034;
}

#input-code-area {
    margin-left: 15%;
    margin-right: 15%;
}

#input-code-area #code {
    background-color: rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(5px);
    color: white;
    border-color: #bebebe;
    outline-color: #0dcaf0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#submit-to-rockstar-gta-v-job {
    background-color: white;
    color: black;
}

/* Callout 组件 */
#bd-callout-help {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: 0.5rem solid rgb(129, 129, 129);
    color: rgba(255, 255, 255, 0.50);
    border-radius: 5px;
    /*
    background-image: url("../img/help-img.png");
    */
    background-color: rgba(246, 246, 246, 0.13);
    backdrop-filter: blur(5px);
    background-position: center;
    background-attachment: fixed;
}

/*帮助卡片*/
.card {
    margin-left: 18%;
    margin-right: 18%;
    border: none;
    border-radius: 10px;
    --bs-card-inner-border-radius: 0 !important;
    --bs-card-bg: none;
}

.card-header {
    background-color: #2a2a2a;
    padding-left: 6%;
    padding-right: 6%;
}

#card-body {
    background-color: rgba(31, 31, 31, 0) !important;
    padding-left: 9%;
    padding-right: 9%;
}

hr {
    border: 1px solid white;
}

#copyright {
    background-color: rgba(26, 26, 26, 0);
    padding: 30px 10px 20px;
}