@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

* {
    font-family: 'Chakra Petch','HarmonyOSHans','Microsoft YaHei UI',sans-serif;
}

#title-bar {
    backdrop-filter: blur(10px);
}

#input-label {
    margin-left: 10%;
    margin-right: 10%;
}

.fs-2 {
    font-weight: bold;
}

#er-1,#er-2,#er-3 * {
    text-shadow: 2px 2px 3px black;
}

#foot-info {
    margin-left: 10%;
    margin-right: 10%;
}

#more-author {
    border-radius: 100px;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
}

#notice {
    padding: 8px;
    border-radius: 4px;
}